:root {
  --main-bg-color: #141414;
  --main-accent-color: #a15889;
  --main-font-color: #d0d0d0;
  --main-nav-color: #000000;
  --main-accent-font: "Great Vibes";
  --main-font: "Comfortaa";
  --main-detail-font: "Raleway Dots";
  --backup-font: "cursive";
}
.about-me-section {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 300;
}
.profile-image {
  width: 30vw;
  margin: 2vw;
}
h2 {
  font-family: var(--main-accent-font);
  font-size: 70px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0;
}
p {
  font-family: var(--main-font);
  color: var(--main-font-color);
  font-size: 20px;
  line-height: 150%;
}
img {
  width: 70px;
}
@media only screen and (max-width: 800px) {
  .about-me-section {
    width: 90%;
    margin: auto;
  }
  .profile-image {
    width: 50vw;
    margin: 2vw;
  }
  h2 {
    font-size: 60px;
    margin-top: 10px;
  }
  p {
    font-size: 17px;
  }
  img {
    width: 50px;
  }
}
