:root {
  --main-bg-color: #141414;
  --main-accent-color: #a15889;
  --main-font-color: #d0d0d0;
  --main-nav-color: #000000;
  --main-accent-font: "Great Vibes";
  --main-font: "Comfortaa";
  --main-detail-font: "Raleway Dots";
  --backup-font: "cursive";

  --animation-color-one: #a15889;
  --animation-color-two: #8e44ad;
  --animation-color-three: #7c5caf;
  --animation-color-four: #4171b1;
  --animation-color-five: #2980b9;
  --animation-color-six: #7b43aa;
  --animation-color-seven: #912f80;
  --animation-color-eight: #8b3959;
  --animation-color-nine: #c78cb3;
  --animation-color-ten: #c26bac;
}
/* Burgermenu and animation */
#nav-icon3 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg) scale(0.5);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: var(--main-accent-color);
  border: none;
}

#nav-icon3:focus {
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Hover-effect on images */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.822);
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* Portfolio images */
.item-one > a:hover .overlay {
  opacity: 1;
}
.item-two > a:hover .overlay {
  opacity: 1;
}
.item-three > a:hover .overlay {
  opacity: 1;
}
/* Featured images */
.featured-one-image:hover .overlay {
  opacity: 1;
}
.featured-two-image:hover .overlay {
  opacity: 1;
}
.featured-three-image:hover .overlay {
  opacity: 1;
}

/* Color-shift animations */
.color-shift {
  color: var(--main-accent-color);
  animation: colorchange 60s infinite alternate;
}
.color-shift-background {
  background-color: var(--main-accent-color);
  animation: colorchangebackground 60s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color: var(--animation-color-one);
    fill: var(--animation-color-one);
  }

  10% {
    color: var(--animation-color-two);
    fill: var(--animation-color-two);
  }

  20% {
    color: var(--animation-color-three);
    fill: var(--animation-color-three);
  }

  30% {
    color: var(--animation-color-four);
    fill: var(--animation-color-four);
  }

  40% {
    color: var(--animation-color-five);
    fill: var(--animation-color-five);
  }

  50% {
    color: var(--animation-color-six);
    fill: var(--animation-color-six);
  }

  60% {
    color: var(--animation-color-seven);
    fill: var(--animation-color-seven);
  }

  70% {
    color: var(--animation-color-eight);
    fill: var(--animation-color-eight);
  }
  80% {
    color: var(--animation-color-nine);
    fill: var(--animation-color-nine);
  }

  90% {
    color: var(--animation-color-ten);
    fill: var(--animation-color-ten);
  }

  100% {
    color: var(--animation-color-one);
    fill: var(--animation-color-one);
  }
}

@-webkit-keyframes colorchangebackground {
  0% {
    background-color: var(--animation-color-one);
  }

  10% {
    background-color: var(--animation-color-two);
  }

  20% {
    background-color: var(--animation-color-three);
  }

  30% {
    background-color: var(--animation-color-four);
  }

  40% {
    background-color: var(--animation-color-five);
  }

  50% {
    background-color: var(--animation-color-six);
  }

  60% {
    background-color: var(--animation-color-seven);
  }

  70% {
    background-color: var(--animation-color-eight);
  }
  80% {
    background-color: var(--animation-color-nine);
  }

  90% {
    background-color: var(--animation-color-ten);
  }

  100% {
    background-color: var(--animation-color-one);
  }
}
