.main-div {
  width: 90vw;
  margin: 10vh auto;
  position: relative;
}
.introduction {
  margin-top: 8vw;
  margin-bottom: 8vw;
}
.introduction > h2 {
  color: var(--main-accent-color);
  font-family: var(--main-accent-font);
  font-size: 7vw;
  font-weight: 400;
  margin: 10px 0;
}

.introduction > h1 {
  color: var(--main-font-color);
  font-family: var(--main-font);
  font-size: 6vw;
  margin: 10px 0;
}

/* Featured projects */
.featured-projects {
  width: 100%;
  max-height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-gap: 1vw;
  font-family: var(--main-font);
  color: var(--main-accent-color);
  font-size: 2vw;
}
.featured-projects > div {
  max-width: 30vw;
  background-color: var(--main-font-color);
  padding-top: 56.25%;
}
.featured-projects > a {
  text-decoration: none;
  color: var(--main-accent-color);
}
.featured-projects h5 {
  margin: 0.5vh 0;
}
.featured-projects h4 {
  margin: 1vh 0;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.featured-one-image {
  background-image: url("../images/meowmory2.jpg");
  background-size: cover;
  background-position: center;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  position: relative;
}
.featured-one {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}
.featured-two-image {
  background-image: url("../images/FS1.png");
  background-size: cover;
  background-position: center;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  position: relative;
}
.featured-two {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
.featured-three-image {
  background-image: url("../images/East-London.png");
  background-size: cover;
  background-position: center;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  position: relative;
}
.featured-three {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}
