:root {
  --main-bg-color: #141414;
  --main-accent-color: #a15889;
  --main-font-color: #d0d0d0;
  --main-nav-color: #000000;
  --main-accent-font: "Great Vibes";
  --main-font: "Comfortaa";
  --main-detail-font: "Raleway Dots";
  --backup-font: "cursive";
}

body {
  background-color: var(--main-bg-color);
  width: 100vw;
}
nav {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hide {
  background-color: #000000;
  transition: 0.8s;
}
.menu-selector {
  width: 100vw;
  height: 0vh;
  margin: 0;
  padding-bottom: 10vw;
  top: 8vh;
  background-color: black;
  position: fixed;
  z-index: 500;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--main-font-color);
  font-family: var(--main-font);
  font-size: 2vw;
  text-decoration: none;
}
.menu-selector > a {
  text-decoration: none;
  color: var(--main-font-color);
}

.display {
  height: 92vh;
  opacity: 1;
  pointer-events: all;
}

footer {
  background-color: var(--main-nav-color);
  margin: 0;
  margin-top: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.email-me {
  margin: 1vh;
  color: var(--main-font-color);
  font-family: var(--main-font);
  font-size: 2vh;
}
.email-me > p {
  margin: 0 0 1vh 0;
}

.social-media {
  margin: 3vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
a > img {
  width: 4vh;
  margin: 0.5vh 0 0.5vh 0;
}
.shortcuts {
  height: 100%;
  margin: 1vh 3vh 1vh 1vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.shortcuts > .goTo {
  color: var(--main-font-color);
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 2vh;
  line-height: 3vh;
}
