:root {
  --main-bg-color: #141414;
  --main-accent-color: #a15889;
  --main-font-color: #d0d0d0;
  --main-nav-color: #000000;
  --main-accent-font: "Great Vibes";
  --main-font: "Comfortaa";
  --main-detail-font: "Raleway Dots";
  --backup-font: "cursive";

  --my-gradient-one: linear-gradient(
    to right,
    var(--main-accent-color) 0%,
    #db9acd 100%;
  );
}
body {
  top: 0;
  background-color: var(--main-bg-color);
  width: 100%;
  overflow-y: scroll;
}
svg {
  width: 70px;
  height: 70px;
  fill: var(--main-accent-color);
}
/* Navbar, header and menu */
nav {
  width: 56px;
  height: 56px;
  background-color: var(--main-accent-color);
  border-radius: 50px;
  position: fixed;
  top: 2vh;
  right: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
.hide {
  transition: 0.8s;
}
#nav-icon3 {
  z-index: 1000;
}
.menu-selector {
  width: 100vw;
  height: 100%;
  top: -100vh;
  margin: 0;
  background-color: black;
  position: fixed;
  z-index: 2;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-selector > .links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--main-font-color);
  font-family: var(--main-font);
  font-size: 30px;
  text-decoration: none;
}
.menu-selector > .links > a {
  text-decoration: none;
  color: var(--main-font-color);
}

.display {
  height: 100vh;
  opacity: 1;
  pointer-events: all;
  transform: translateY(100vh);
}

/* Footer */
footer {
  background-color: var(--main-nav-color);
  margin: 0;
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.email-me {
  width: 100%;
  margin: 2vh 1vh 1vh 1vh;
  color: var(--main-font-color);
  font-family: var(--main-font);
  text-align: center;
  font-size: 17px;
}
.email-me > p {
  margin: 0 0 1vh 0;
}
.contact {
  font-size: 22px;
}
.mail {
  color: var(--main-accent-color);
}
.animation-text {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: var(--main-accent-color);
}
.social-media {
  width: 30%;
  margin: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
a > img {
  width: 40px;
  margin: 0.5vh 0 0.5vh 0;
}
a > svg {
  width: 40px;
  /* margin: 0.5vh 0 0.5vh 0; */
  margin: 1vh;
}
.shortcuts {
  width: 100%;
  margin: 1vh 3vh 1vh 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.shortcuts > .goTo {
  color: var(--main-font-color);
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 17px;
  line-height: 3vh;
}

@media only screen and (max-width: 800px) {
  nav {
    top: 1vh;
    right: 1vh;
  }
  #nav-icon3 {
    z-index: 1000;
    margin-right: 0;
  }
  .menu-selector {
    height: 100vh;
  }
  .menu-selector > .links {
    height: 400px;
  }
  .social-media {
    width: 70%;
  }
  .shortcuts {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .shortcuts > .goTo {
    line-height: 30px;
    font-size: 17px;
  }
  .contact {
    font-size: 20px;
  }
  .email-me {
    margin-top: 15px;
    font-size: 17px;
  }
  .mail {
    color: var(--main-accent-color);
  }
}
